body{
    background-color: #F3F3F3 !important;

}

:root{
    --header-height: 3rem;
    --nav-width: 68px;

    --secondary-nav-color:  #1D262A;
    --light-yellow: #e0a22e;
    --yellow-color: #FCBC08;
    --light-pink: hsl(313, 100%, 82%);
    --brown-color: #926228;
    --slider-color: #FCE5C0;
    --white-color: #515151;
    --full-white: white;
    --full-black: black;
    --light-black: rgb(83, 81, 81);
    --secondary-color: #D9D9D9;
    --body-color: #F3F3F3;
    --delete-color: #f70039;
    --tab-color: #f5f5f5;


}